<a href="https://colab.research.google.com/github/stevegabriel1/spark_nlp/blob/main/spark_nlp_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is following directly the ODSC East 2021 session 'Introduction to Spark NLP' from John Snow Labs' Veysel Kocaman.**

In [1]:
!wget https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/scripts/colab_setup.sh
!bash colab_setup.sh

# Install sparknlp-display
! pip install spark-nlp-display

--2021-04-22 04:31:22--  https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/scripts/colab_setup.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1594 (1.6K) [text/plain]
Saving to: ‘colab_setup.sh’

colab_setup.sh      100%[===================>]   1.56K  --.-KB/s    in 0s

2021-04-22 04:31:22 (23.9 MB/s) - ‘colab_setup.sh’ saved [1594/1594]

setup Colab for PySpark 3.0.2 and Spark NLP 3.0.2
     |████████████████████████████████| 204.8MB 74kB/s
     |████████████████████████████████| 153kB 23.8MB/s
     |████████████████████████████████| 204kB 24.5MB/s
  Building wheel for pyspark (setup.py) ... done
Collecting spark-nlp-display
  Downloading https://files.pythonhosted.org/packages/0a/d7/bda1c504e36f7a544c40e0a3de108bfe7907e77ab7eb7f188dd3915bcad4/spark_nlp_display-1.6-py3-none-any.whl (94kB)
     |████████████████████████████████| 102kB 7.4MB/s
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from spark-nlp-display) (5.5.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from spark-nlp-display) (1.1.5)
Collecting svgwrite==1.4
  Downloading https://files.pythonhosted.org/packages/1c/85/1dc25b36c3ac4f3fe285d33065fc0f2ea7bdfb9209d6369e01a3e8ef6252/svgwrite-1.4-py3-none-any.whl (66kB)
     |████████████████████████████████| 71kB 5.9MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from spark-nlp-display) (1.19.5)
Requirement already satisfied: spark-nlp in /usr/local/lib/python3.7/dist-packages (from spark-nlp-display) (3.0.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (54.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (1.0.18)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (5.0.5)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->spark-nlp-display) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->spark-nlp-display) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->spark-nlp-display) (2.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->spark-nlp-display) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->spark-nlp-display) (1.15.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->spark-nlp-display) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython->spark-nlp-display) (0.7.0)
Installing collected packages: svgwrite, spark-nlp-display
Successfully installed spark-nlp-display-1.6 svgwrite-1.4

In [2]:
import sparknlp
from pyspark.ml import Pipeline
from sparknlp.base import *
import pyspark.sql.functions as F
from sparknlp.annotator import *

spark = sparknlp.start()

print("Spark NLP version", sparknlp.version())
print("Apache Spark version:", spark.version)

Spark NLP version 3.0.2
Apache Spark version: 3.0.2

## Using Pretrained Pipelines

for a more detailed notebook, see https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Trainings/Public/1.SparkNLP_Basics.ipynb

In [3]:
from sparknlp.pretrained import PretrainedPipeline

In [4]:
pipeline_dl = PretrainedPipeline('explain_document_dl', lang='en')

explain_document_dl download started this may take some time.
Approx size to download 169.3 MB
[OK!]

**Stages**
- DocumentAssembler
- SentenceDetector
- Tokenizer
- NER (NER with GloVe 100D embeddings, CoNLL2003 dataset)
- Lemmatizer
- Stemmer
- Part of Speech
- SpellChecker (Norvig)

In [22]:
testDoc = '''
Blue and green should be seen.
It seems that Coca Cola Amitil will be bought out very soon.
Do you prefer sparkling or regular minerall water?
Their vehicle was quick off the mark compared to most other cars.
The tram network in Melbourne is extensive.
'''

result = pipeline_dl.annotate(testDoc)

In [23]:
result.keys()

dict_keys(['entities', 'stem', 'checked', 'lemma', 'document', 'pos', 'token', 'ner', 'embeddings', 'sentence'])

In [24]:
result['entities']

['Blue', 'Coca Cola Amitil', 'Melbourne']

In [25]:
import pandas as pd

df = pd.DataFrame({'token':result['token'], 'ner_label':result['ner'],
                      'spell_corrected':result['checked'], 'POS':result['pos'],
                      'lemmas':result['lemma'], 'stems':result['stem']})

df

        token ner_label spell_corrected   POS     lemmas     stems
0        Blue     B-ORG            Blue   NNP       Blue      blue
1         and         O             and    CC        and       and
2       green         O           green    NN      green     green
3      should         O          should    MD     should    should
4          be         O              be    VB         be        be
5        seen         O            seen   VBN        see      seen
6           .         O               .     .          .         .
7          It         O              It   PRP         It        it
8       seems         O           seems   VBZ       seem      seem
9        that         O            that    IN       that      that
10       Coca     B-ORG            Cece   NNP       Cece      cece
11       Cola     I-ORG            Cola   NNP       Cola      cola
12     Amitil     I-ORG          Amitie   NNP     Amitie     amiti
13       will         O            will    MD       will      will
14         be         O              be    VB         be        be
15     bought         O          bought   VBN        buy    bought
16        out         O             out    IN        out       out
17       very         O            very    RB       very      veri
18       soon         O            soon    RB       soon      soon
19          .         O               .     .          .         .
20         Do         O              Do   VBP         Do        do
21        you         O             you   PRP        you       you
22     prefer         O          prefer   VBP     prefer    prefer
23  sparkling         O       sparkling   VBG    sparkle    sparkl
24         or         O              or    CC         or        or
25    regular         O         regular    JJ    regular   regular
26   minerall         O         mineral    NN    mineral     miner
27      water         O           water    NN      water     water
28          ?         O               ?     .          ?         ?
29      Their         O           Their  PRP$      Their     their
30    vehicle         O         vehicle    NN    vehicle    vehicl
31        was         O             was   VBD         be        wa
32      quick         O           quick    JJ      quick     quick
33        off         O             off    RP        off       off
34        the         O             the    DT        the       the
35       mark         O            mark    NN       mark      mark
36   compared         O        compared   VBN    compare    compar
37         to         O              to    TO         to        to
38       most         O            most   JJS       most      most
39      other         O           other    JJ      other     other
40       cars         O            cars   NNS        car       car
41          .         O               .     .          .         .
42        The         O             The    DT        The       the
43       tram         O            tram    NN       tram      tram
44    network         O         network    NN    network   network
45         in         O              in    IN         in        in
46  Melbourne     B-LOC       Melbourne   NNP  Melbourne  melbourn
47         is         O              is   VBZ         be         i
48  extensive         O       extensive    JJ  extensive    extens
49          .         O               .     .          .         .

In [26]:
detailed_result = pipeline_dl.fullAnnotate(testDoc)

detailed_result[0]['entities']

[Annotation(chunk, 1, 4, Blue, {'entity': 'ORG', 'sentence': '0', 'chunk': '0'}),
 Annotation(chunk, 46, 61, Coca Cola Amitil, {'entity': 'ORG', 'sentence': '1', 'chunk': '1'}),
 Annotation(chunk, 230, 238, Melbourne, {'entity': 'LOC', 'sentence': '4', 'chunk': '2'})]

In [27]:
chunks=[]
entities=[]
for n in detailed_result[0]['entities']:
        
  chunks.append(n.result)
  entities.append(n.metadata['entity']) 
    
df = pd.DataFrame({'chunks':chunks, 'entities':entities})
df

             chunks entities
0              Blue      ORG
1  Coca Cola Amitil      ORG
2         Melbourne      LOC

In [28]:
tuples = []

for x,y,z in zip(detailed_result[0]["token"], detailed_result[0]["pos"], detailed_result[0]["ner"]):

  tuples.append((int(x.metadata['sentence']), x.result, x.begin, x.end, y.result, z.result))

df = pd.DataFrame(tuples, columns=['sent_id','token','start','end','pos', 'ner'])

df

    sent_id      token  start  end   pos    ner
0         0       Blue      1    4   NNP  B-ORG
1         0        and      6    8    CC      O
2         0      green     10   14    NN      O
3         0     should     16   21    MD      O
4         0         be     23   24    VB      O
5         0       seen     26   29   VBN      O
6         0          .     30   30     .      O
7         1         It     32   33   PRP      O
8         1      seems     35   39   VBZ      O
9         1       that     41   44    IN      O
10        1       Coca     46   49   NNP  B-ORG
11        1       Cola     51   54   NNP  I-ORG
12        1     Amitil     56   61   NNP  I-ORG
13        1       will     63   66    MD      O
14        1         be     68   69    VB      O
15        1     bought     71   76   VBN      O
16        1        out     78   80    IN      O
17        1       very     82   85    RB      O
18        1       soon     87   90    RB      O
19        1          .     91   91     .      O
20        2         Do     93   94   VBP      O
21        2        you     96   98   PRP      O
22        2     prefer    100  105   VBP      O
23        2  sparkling    107  115   VBG      O
24        2         or    117  118    CC      O
25        2    regular    120  126    JJ      O
26        2   minerall    128  135    NN      O
27        2      water    137  141    NN      O
28        2          ?    142  142     .      O
29        3      Their    144  148  PRP$      O
30        3    vehicle    150  156    NN      O
31        3        was    158  160   VBD      O
32        3      quick    162  166    JJ      O
33        3        off    168  170    RP      O
34        3        the    172  174    DT      O
35        3       mark    176  179    NN      O
36        3   compared    181  188   VBN      O
37        3         to    190  191    TO      O
38        3       most    193  196   JJS      O
39        3      other    198  202    JJ      O
40        3       cars    204  207   NNS      O
41        3          .    208  208     .      O
42        4        The    210  212    DT      O
43        4       tram    214  217    NN      O
44        4    network    219  225    NN      O
45        4         in    227  228    IN      O
46        4  Melbourne    230  238   NNP  B-LOC
47        4         is    240  241   VBZ      O
48        4  extensive    243  251    JJ      O
49        4          .    252  252     .      O

### Spell Checker DL

https://medium.com/spark-nlp/applying-context-aware-spell-checking-in-spark-nlp-3c29c46963bc